.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.logo {
  position: absolute;
  top: 3px; /* Adjust the top position as needed */
  right: 3px; /* Adjust the right position as needed */
  width: 120px; /* Adjust the width as needed */
  
  margin-bottom: 50px;
  height: auto;
}

@media (max-width: 767px) {
  .App.mobile .question:nth-child(1) .logo {
    display: none;
  }
}
